* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Domine";
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

body.dark {
  color-scheme: dark;
}

body.light {
  color-scheme: light;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration-color: var(--md-ref-primary-underline);
}

a:hover,
a:focus-visible {
  text-decoration-color: var(--md-sys-color-primary);
}
